#app {
    font-family: 'Baloo Bhaina 2', cursive;
}

.box {
    color: black;
    background-color: #dadada;
    margin: .5vw;
    padding: .5vw;
    border-radius: 5px;
}

.sec-box {
    color: black;
    border-radius: 5px;
    background-color: #ffffff;
}